<div class="form-group">
    <label for="originalName" class="col-sm-2 control-label">originalName</label>
    <div class="col-sm-10">
        <input type="text" ng-model="shipwreck.originalName" class="form-control" id="originalName" placeholder="Shipwreck originalName"/>
    </div>
</div>
<div class="form-group">
    <label for="englishName" class="col-sm-2 control-label">englishName</label>
    <div class="col-sm-10">
        <input type="text" ng-model="shipwreck.englishName" class="form-control" id="englishName" placeholder="Shipwreck englishName"/>
    </div>
</div>
<div class="form-group">
    <label for="status" class="col-sm-2 control-label">status</label>
    <div class="col-sm-10">
        <input type="text" ng-model="shipwreck.status" class="form-control" id="status" placeholder="Shipwreck status"/>
    </div>
</div>
<div class="form-group">
    <label for="address" class="col-sm-2 control-label">address</label>
    <div class="col-sm-10">
        <input type="text" ng-model="shipwreck.address" class="form-control" id="address" placeholder="address"/>
    </div>
</div>
<div class="form-group">
    <label for="street" class="col-sm-2 control-label">street</label>
    <div class="col-sm-10">
        <input type="text" ng-model="shipwreck.street" class="form-control" id="street" placeholder="street"/>
    </div>
</div>
<div class="form-group">
    <label for="city" class="col-sm-2 control-label">city</label>
    <div class="col-sm-10">
        <input type="text" ng-model="shipwreck.city" class="form-control" id="city" placeholder="city"/>
    </div>
</div>
<div class="form-group">
    <label for="postalCode" class="col-sm-2 control-label">postalCode</label>
    <div class="col-sm-10">
        <input type="text" ng-model="shipwreck.postalCode" class="form-control" id="postalCode" placeholder="postalCode"/>
    </div>
</div>
<div class="form-group">
    <label for="countryCode" class="col-sm-2 control-label">countryCode</label>
    <div class="col-sm-10">
        <input type="text" ng-model="shipwreck.countryCode" class="form-control" id="countryCode" placeholder="countryCode"/>
    </div>
</div>
<div class="form-group">
    <label for="countryName" class="col-sm-2 control-label">countryName</label>
    <div class="col-sm-10">
        <input type="text" ng-model="shipwreck.countryName" class="form-control" id="countryName" placeholder="countryName"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
